<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.defidev.onemorecase" android:versionCode="1" android:versionName="0.1.0">
  <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35"/>
  <application android:label="OneMoreCase" android:icon="@drawable/icon" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:allowBackup="false" android:enableOnBackInvokedCallback="false" android:usesCleartextTraffic="false" android:supportsRtl="true" android:hardwareAccelerated="true">
    <activity android:name=".MainActivity" android:exported="true" android:configChanges="orientation|screenSize|keyboardHidden" android:screenOrientation="portrait">
      <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
    </activity>
  </application>
</manifest>
